#uww {
  width: 175px;
  border-radius: 35px;
}
#about {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.about-header {
  font-size: 40px;
}

.about-image-text {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
}
#family {
  width: 300px;
  border-radius: 35px;
}
.about-text {
  width: 600px;
  font-size: 24px;
  text-align: center;
}

.education-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.education-header {
  margin-top: 50px;
  font-size: 32px;
}
.education-txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}
.education-text {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 975px) {
  #about {
    max-width: 100vw;
  }
  .about-image-text {
    max-width: 80%;
    flex-direction: column;
  }
  .about-text {
    width: 100%;
    font-size: 16px;
  }
  .education-container {
    flex-direction: column;
    gap: 15px;
  }
  .education-text {
    font-size: 16px;
  }
}
