html {
  scroll-behavior: smooth;
  scroll-padding: 69px;
}
.header {
  background-color: rgb(32, 32, 32);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  top: 0px;
  position: sticky;
  z-index: 100;
}

.active {
  text-decoration: underline;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

.header-tab::after {
  width: 0;
  transition: 0.5s;
  height: 3px;
  left: 0;
  bottom: -6px;
  background-color: #3864b6;
  content: "";
  display: block;
}

.header-tab:hover::after {
  width: 100%;
}
