.header {
  background-color: navajowhite;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  top: 0px;
  position: sticky;
}

.active {
  text-decoration: underline;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.project-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  padding: 10px;
  &:hover {
    border: 2px solid black;
  }
}
