.projects-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

p.links-skills,
p.project-skills,
p.project-demo,
p.project-desc,
p.project-gh {
  margin: 0;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: center;
  padding: 20px;
}

.project-single {
  text-align: center;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 20px;
}

.project-screenshot {
  width: 100%;
  object-fit: contain;
  z-index: 51;
  border-radius: 21px;
}

h2.project-title,
p.project-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.project-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 95%;
  width: calc(100% - 40px);
  text-align: center;
  position: absolute;
  padding: 20px;
  top: 100%;
  transform: translateX(-50%, -50%);
  transition: top 0.5s;
  border-radius: 18px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.85),
    #3864b6
  ); /* Add a background to make text readable */
}

.project-single:hover .project-text {
  top: 0%; /* Move text to the top when hovered */
}

.project-title {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.project-desc {
  text-align: left;
  width: 85%;
  font-size: 14px;
}

.links-skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.project-left,
.project-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.project-skills {
  font-size: 14px;
  font-weight: 600;
}

.project-code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
}

.project-demo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

@keyframes moveUp {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@media only screen and (max-width: 975px) {
  .projects {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Adjust to one column for smaller screens */
  }

  .project-single {
    width: 90%; /* Adjust width of each project */
    margin: 0 auto; /* Center projects */
  }

  .project-screenshot {
    border-radius: 12px; /* Reduce border radius for smaller screens */
  }

  .project-text {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
  }

  .project-desc {
    font-size: 20px; /* Reduce font size for project descriptions */
  }
}

@media only screen and (max-width: 600px) {
  .projects-header {
    font-size: 32px; /* Reduce header font size further */
  }

  .project-title {
    font-size: 20px; /* Reduce project title font size */
  }

  .project-desc {
    font-size: 15px; /* Further reduce font size for project descriptions */
  }
}

@media only screen and (max-width: 550px) {
  .project-title {
    font-size: 18px; /* Reduce project title font size */
  }

  .project-desc {
    font-size: 12px; /* Further reduce font size for project descriptions */
  }
}
